header{
    display:flex;
    margin: 1rem .7rem;
    border: 1px solid #dedcd9;
    padding: .7rem 1rem;
    border-top: none;
    justify-content: space-between;
    color: #ed6905;
    border-radius: .5rem;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 1;
}
.logo{
    display: flex;
}
.logo i{
    color: #ed6905;;
    font-size: 3rem;
    margin: 0 10px;
}

.logo h1{
    font-size: 2rem;
    margin:  15px;
}
input{
    border-radius: 5rem;
    padding: 20px;
        height: 20%;
        margin-top:1.5rem ;
        border-right: none;
        border: 1px solid #dedcd9;
}
#search{
    /* position: absolute;
    left: 34%;
    top: 8.5%; */
    margin-top:1.9rem ;
    color: black;
    font-size: 1rem;
}
i{
    color: black;
}
.icn{
    margin: 1rem;
    
}
button{
    border: none;
    background-color: transparent;
}
@media only screen  and (max-width:1024px) and (min-width:80px){
    .logo h1{
        font-size: 1rem; 
    } 
    .logo i{
        margin-top: .6rem;
        font-size: 1.5rem;
    }
    input{
        display: none;
    }
    .Mq{
        left: 20%;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        background-color:#ed6905;
        padding: 1rem;
        border-radius: 1rem;
        animation: slideFt 1s linear;
    }
    @keyframes slideFt {
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
    }
    .mq{
        display: block;
        width: 70%;
        height: 20%;
    }
   .ifcp{
       font-size: .9rem !important;
       margin-bottom: .2rem;
   }
   .bbd{
       font-size: .5rem !important;
   }
   .btn{
       padding: .1rem;
       display: flex;
       flex-direction: column;
   }
   #search{
    margin:1rem ;
    font-size: 1rem;
}
}