
.card{
    width: 28%;
    max-width: 80%;
    background-color: rgb(252, 250, 250);
    padding: 20px 30px;
    border: 1px solid rgba(2,43,105,.07);
    box-shadow: 0px 50px 30px rgb(2 43 105 / 5%);
    border-radius: 25px;
    text-align: left;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    will-change: transform;
    transition: 0.5s ease transform;
    height: 50%;
    font-size: .8rem;
    transition: .4s ease-in-out;
}
.card:hover{
    box-shadow: none;
    transition: .4s ease-in-out;
    border-top-right-radius: 10rem;
}
.container{
    width: 40%;
    display: flex;
    justify-content: space-around;
   
}
.rw{
    margin: 1rem 2rem;
    flex-direction: row;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    height: fit-content;
}

.card-top{
    cursor: pointer;
    margin: 1.2rem;
    border: 0.1rem solid #dbdad5;
}
.card-top ul{
    list-style-type: none;
    display: flex; 
    align-items: center;
}
.card-top ul li{
    border-top: none !important;
    border: 0.1rem solid #dbdad5;
    padding: .8rem;
    font-size: 1rem;
    transition: 1s linear;
    width: 10%;
    transition: 1s ease-in-out;
}
li img{
    width: 30%;
}

.card-top ul li:hover{
    box-shadow: 0px 40px 30px rgb(2 43 105 / 5%);
    transition: 1s ease-in-out;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-top ul li:nth-child(1){
    border-left: none;
}
.card-top ul li:last-child{
    border-right: none;
}
h6{
    font-size: .8rem;
    margin-top: .6rem;
    color: #ed6905;
}
.wears{
    margin-top: 5rem;
}
/* .row h5, p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    color: #452e10;
    
} */
h5, p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    font-weight: 600;
    background: linear-gradient( 
-45deg,#e8097c,#04b4c4,#0c0e78,#ed0eaa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    -moz-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.card img{
    width: 100%;
    height: 200px;
    margin: 0px 0;
    object-fit: contain;
}

/* .row{
    gap: 2rem;
    display: flex;
    justify-content: space-around;
} */
button{
    background-color: #ed6905;
    color: white;
    border-radius: 1rem;
}
.card h6{
    color: black;
    font-size: 1rem;
}
i{
    color:#ed6905;
}
a{
    cursor: pointer;
}

@media only screen  and (max-width:1024px) and (min-width:80px){
    .rw{
        flex-direction: column;
    }
    a{
        font-size: .7rem;
    }
    .card{
        align-items: center;
        width: 98%;
    max-width: 90%;
    }
    .card img{
        width: 60%;
        height: 200px;
    }
    .card h5, p{
        max-width: 20ch; 
        font-size: .9rem;
    }
    .container{
        width: 100%;
    }
    .card-top{
        margin: 0rem;
    }
    .card-top h6{
        font-size: .6rem;
        margin: .1rem 0;
    }
    .card-top ul li{
        width: 60%;
        padding: .4rem;
    }
    li img{
        width: 50%;
    }
    button{
        font-size: .9rem;
    }
}
